<div>
    <label> <b>Gender: </b></label>
    <select (change)="onDropdownChange($event)">
      <option *ngFor="let g of Gender">{{g.gender}}</option>
    </select>
</div>
<br>
  <div>
    <input type="radio" value="Male" [checked]="genderValue=='Male'" *ngIf="genderValue=='Male'">
    <span *ngIf="genderValue=='Male'">Male</span>
    <input type="radio" value="Female" [checked]="genderValue=='Female'" *ngIf="genderValue=='Female'">
    <span *ngIf="genderValue=='Female'">Female</span>
    <input type="radio" value="Others" [checked]="genderValue=='Other'" *ngIf="genderValue=='Other'">
    <span *ngIf="genderValue=='Other'">Others</span>
</div>
<div>
    <label>Country</label>
    <select>
        <option *ngFor="let X of Country">{{X.Country}}</option>
  
    </select>
    
</div>
<div>
    <label>Country</label>
    <select *ngFor="let X of Countrys">
        <option >{{X.Country}}</option>
        <option>{{X.Country1}}</option>
        <option>{{X.Country2}}</option>
        <option>{{X.Country3}}</option>
        <option>{{X.Country4}}</option>
    </select>
    
</div>